@charset "UTF-8";

/*css추가 - ksa:0809 */

/*@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(../font/NotoSansKR-Thin.woff2) format('woff2'),url(../font/NotoSansKR-Thin.woff) format('woff'),url(../font/NotoSansKR-Thin.otf) format('opentype');}*/
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(../font/NotoSansKR-Light.woff2) format('woff2'),url(../font/NotoSansKR-Light.woff) format('woff'),url(../font/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),url(../font/NotoSansKR-Regular.woff) format('woff'),url(../font/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),url(../font/NotoSansKR-Medium.woff) format('woff'),url(../font/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 800;src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),url(../font/NotoSansKR-Medium.woff) format('woff'),url(../font/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),url(../font/NotoSansKR-Medium.woff) format('woff'),url(../font/NotoSansKR-Medium.otf) format('opentype');}
/*@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(../font/NotoSansKR-Black.woff2) format('woff2'),url(../font/NotoSansKR-Black.woff) format('woff'),url(../font/NotoSansKR-Black.otf) format('opentype');}*/




/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }


html, body, div, textarea, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; font-size:14px }
html, body { width: 100%; height: 100%; font-family: "Noto Sans KR", sans-serif; letter-spacing: -0.35px; position: relative; font-size:14px; margin: 0 auto;line-height: 1.5 ! important;  }

body { line-height: 1;}


textarea{margin:0;padding:0;}
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

ol, ul { list-style: none; padding:0; margin:0;}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

/* table { border-collapse: collapse; border-spacing: 0; } */
table, tr, td{ border-collapse: collapse; border-spacing:0; border:0 }

a { color: initial; text-decoration: none; outline: none; }

a:hover, a:active { text-decoration: none; color: initial; background-color: transparent; }

input[type="text"], input[type="password"] { border: none; outline: none; ;}
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder { font-size: 14px; letter-spacing: -0.35px; text-align: left; color: rgba(188, 191, 199, 0.83); }
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder { font-size: 14px; letter-spacing: -0.35px; text-align: left; color: rgba(188, 191, 199, 0.83); }
input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder { font-size: 14px; letter-spacing: -0.35px; text-align: left; color: rgba(188, 191, 199, 0.83); }
input[type="text"]::placeholder, input[type="password"]::placeholder { font-size: 14px; letter-spacing: -0.35px; text-align: left; color: rgba(188, 191, 199, 0.83); }
input[type="radio"]{display: none;}



/* input file 초기화 */
input[type="file"] {  position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }

button { background-color: transparent; border: none; outline: none; padding: 0; cursor: pointer;  font-family: "Noto Sans KR", sans-serif;}

input,
input[type="text"],
input[type="file"],
textarea,
button,
select,
select option{font-family: "Noto Sans KR", sans-serif; font-size:14px; color: rgba(40, 42, 63, 0.83);}
input[type="password"]{font-family:arial,sans-serif !important }

textarea::placeholder,input::placeholder{color: rgba(40, 42, 63, 0.83);opacity: 0.83 !important; -webkit-text-fill-color: rgba(40, 42, 63, 0.83);}
/* input{opacity: 1; -webkit-text-fill-color: rgb(25,25,25);} */

input[type="text"],
input[type="password"]{border-radius:4px;padding:0 16px}



/* Select box 스타일 초기화 */
select { cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; }
select:focus { outline: none; }
select {
    cursor: pointer;
    height: 38px;
    cursor: pointer;
    padding: 0 28px 0 16px;
    font-size: 14px;
    text-align: left;
    background-color: transparent;
    background-image: url(../imges/ico_select_arrow.png);
    background-position: calc(100% - 8px) 14px;
    background-repeat: no-repeat;
    background-size: 14px;
    white-space:nowrap;
    text-overflow: ellipsis; /*말줄임 추가 : ksa : 210816*/}
select option{ text-overflow:unset}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { -webkit-box-shadow: 0 0 0 30px white inset !important; }

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand { display: none; }


/* 줄바꿈X */
.overflow_nw{white-space: nowrap;}

/*button:hover{border: solid 1px #8995a9;background-color: #eef0f4;transition: 0.1s linear;}*/ /*normal_btn*/
#ui-datepicker-div{min-width: 248px; max-width:350px;overflow-x:hidden}
/* body{touch-action: pan-y;} */