@import "func.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $colors_background;
  max-width: 1920px;
}
:root {
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder {
  opacity: 1;
  color: $font_color_50;
}


input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: none !important;
  border: 1px solid $colors_line;
  border-radius: 3px;
  background: $white;

  &::before {
    content: url("../assets/Checked.png");
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
  }

  &:hover {
    background-color: rgba(27, 193, 219, 0.1);
  }

  &:checked {
    border-color: $colors_line;
    color: $colors_main;

    &::before {
      border-radius: 2px;
      transform: scale(1) translate(-50%, -50%);
    }
  }
}



select:focus {
  outline: none;
}

select {
  width: 100%;
  height: 100%;
}

@include keyframe(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframe(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal {
  @include animation(0s, 1s, fadeIn);
}

.table_view_count {
  @include input_box(100px, 38px);
}

.common_box {
  border-radius: 20px;
  box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 160px;
  background-color: $colors_main;

  .header_logo {
    img {
      content: url(../assets/logo.png);
    }
  }

  ul.main_menu {
    display: flex;
    align-items: center;
    gap: 30px;

    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #fff;

    li {
      display: flex;
      align-items: center;
      height: 30px;
      padding: 0 2px;
      cursor: pointer;

      &.active {
        font-weight: bold;
        border-bottom: 3px solid #fff;
      }
    }
  }

  .header_buttons {
    display: flex;
    gap: 6px;
  }
}

.img_home {
  content: url("../assets/home.png");
}
.ico_arrow_r {
  content: url("../assets/ico-arrow-r.png");
}
.img_round_nav {
  content: url("../assets/round-nav.png");
}

.common_body {
  display: flex;
  justify-content: space-between;
}

button.menu_button {
  height: 26px;
  border-radius: 5px;
  background-color: #04a3bb;
  padding: 0 10px;

  font-size: 13px;
  color: #fff;
}

.location {
  height: 67px;
  margin: 0 160px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #2a3d72;
}

.main {
  padding: 0 160px;
}

.sub_menu_wrapper {
  border-right: 1px solid #e6e8ea;
  width: 240px;

  .sub_menu_title {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #00aace;
  }

  ul.sub_menu {
    li {
      height: 46px;
      padding: 0 30px;
      font-size: 14px;
      font-weight: 500;
      line-height: 3.29;
      text-align: left;
      color: #141f40;
      cursor: pointer;

      &.active,
      &:hover {
        position: relative;
        background-color: $colors_main_light;
        border-right: 4px solid $colors_main;
        color: $colors_font;
      }
    }
  }
}

.contents_wrapper {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .content_title {
    font-size: 18px;
    font-weight: bold;
    color: #2a3d72;
  }
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0 160px;

  height: 90px;
  font-size: 12px;
  color: #282a3f;
}

table.jb-table {
  width: 100%;
  thead {
    height: 30px;
    border-radius: 8px;
    background-color: #f1f7ff;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.33px;
    color: #586a9b;

    tr {
      th {
        vertical-align: middle;
      }
    }
  }
  tbody {
    tr {
      height: 50px;
      border-bottom: 1px solid #dcdfe4;
      td {
        padding: 0 15px;
        vertical-align: middle;
        text-align: center;
        font-size: 14px;
        letter-spacing: -0.35px;
        color: #282a3f;
      }
    }
  }
}

button.btn_excel {
  padding: 0 10px;
  height: 38px;
  @include excel_button();
}

button.btn_register {
  padding: 0 25px;
  height: 38px;
  @include register_button();
}

button.btn_common {
  width: 100px;
  height: 38px;
  border-radius: 4px;
  background-color: $colors_main;
  font-size: 14px;
  letter-spacing: -0.35px;
  text-align: center;
  color: #fff;
}

ul.pagination {
  @include flex_center;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.33px;
  text-align: center;
  color: #556076;

  li a {
    @include flex_center;
    width: 32px;
    height: 32px;
    border-radius: 32px;

    &.active {
      background-color: $colors_main;
      color: white;
      border-radius: 32px;
    }
  }
}

.input_date_group {
  display: flex;
  width: 300px;
  height: 38px;
  border-radius: 4px;

  span {
    @include flex_center;

    width: 20px;
  }
  input[type="date"] {
    flex: 1;
  }
}

input[type="date"] {
  position: relative;
  height: 100%;
  padding-left: 16px;
  border-radius: 4px;
  border: solid 1px #bcbfc7;
  background-color: #fff;
  font-size: 14px;
  letter-spacing: -0.35px;
  text-align: left;
  color: rgba(20, 31, 64, 0.83);
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

.input_date_group input:after {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 16px;
  height: 16px;

  content: url("../assets/ico-input-date.png");
  transform: translateY(-50%);
  z-index: 0;
}

.red {
  color: $red;
}

/********** button ***********/
.btn-refresh {
  background: url(../assets/reset.webp) no-repeat center/cover;
  width: 22px;
  height: 22px;
  margin-bottom: 4px;
}
.btn-speaker {
  background: url(../assets/speaker.webp) no-repeat center/cover;
  width: 22px;
  height: 22px;
}
.btn-ell-blue {
  width: 100%;
  height: 52px;
  border-radius: 26px;
  background-color: $navy;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 0 12px;

  @include text_overflow;
}
.btn-clear {
  width: 24px;
  height: 24px;
  background: url(../assets/c_ic_login_delete.svg) no-repeat center;
  cursor: pointer;
}

/*********** icon ***********/



/*********** components ***********/

/* components html*/
.components-wrapper {
  padding: 20px;

  h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  section {
    margin-bottom: 40px;
  }
  article {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  span {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  input,
  button,
  select {
    max-width: 300px;
  }
}


