$colors_line: #bcbfc7;
$colors_background: #f2f7ff;
$colors_main: #1bc1db;
$colors_main_10: rgba(27, 192, 218, 0.1);
$colors_main_light: #cfeaee;
$colors_font: #00aace;

$white: #fff;
$black: #221e1f;
$navy: #2a3d72;
$red: #d06062;
$green: #207245;

$gray100: #f9fafd;
$gray200: #bcbfc7;
$gray300: #bfc2c8;
$gray400: #8c8c8c;
$gray500: #616366;

$font_color: #141f40;
$font_color_20: rgba(20, 31, 64, 0.2);
$font_color_50: rgba(20, 31, 64, 0.5);
$font_color_80: rgba(20, 31, 64, 0.8);

// text input box : width, height
@mixin input_box($width, $height) {
  width: $width;
  height: $height;
  border-radius: 4px;
  border: solid 1px $colors_line;
  background-color: $white;
}

@mixin flex_center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin excel_button() {
  border-radius: 5px;
  border: solid 1px #207245;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #207245;
  @include flex_center();
  gap: 10px;

  img {
    content: url("../assets/excel.png");
    width: 17px;
    height: 17px;
  }
}

@mixin register_button() {
  border-radius: 4px;
  background-color: $colors_main;
  font-size: 14px;
  letter-spacing: -0.35px;
  text-align: center;
  color: #fff;
  @include flex_center();
  gap: 10px;

  img {
    content: url("../assets/register.png");
    width: 14px;
    height: 14px;
  }
}

@mixin animation($delay, $duration, $name) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name;
}

@mixin keyframe($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin border($color) {
  border: 1px solid $color;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 2px;
    border-radius: 1px;
    
  }

  &::-webkit-scrollbar-thumb {
    background-color: $font_color_50;
    border-radius: 1px;
  }
}


@mixin text_overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}